<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7 card">

      <div class="card-body">
        <h3>About</h3>
        <p>
          Hello!<br><br>

          This little app was made to assist in the creation of Anki Flashcards by using Microsoft Word documents which
          follow a set template. Check out the Help page for more info on this.<br><br>

          I may update this app in the future if I get a chance. Feel free to email me with any suggestions or problems
          you have - it's no guarantee but I will help if I am able to.<br><br>

          This was a personal project so I apologise for any bugs you may find. However, I hope you enjoy using it and
          that it assists in making your life easier.<br><br>

          Kind regards,<br>
          Basheq Tarifi<br>
          <i>Email: btarifi08@gmail.com</i>
        </p>
        <hr/>
        <p><i>Credit to the creators of Anki as well as the creators of AnkiConnect, for creating the awesome software
          this interacts with. Also, credits to u/honestpinocchio on reddit for the logo used.
          <br>

          Check the <a href="https://github.com/btarifi10/AnkiHelper/releases">GitHub releases</a> page for updates to this app.</i></p>
      </div>
    </div>
  </div>
</div>
