<div class="row">
  <div class="col-md-12 card-columns">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title align-self-center"> Deck Selection </h4>
        <div class="btn-group-vertical btn-group-toggle list-group" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedDeck">
          <label ngbButtonLabel class="btn-outline-secondary" *ngFor="let deck of deckNames">
            <input ngbButton type="radio" (click)="deckSelection(deck)" value="{{deck}}"> {{deck}}
          </label>
        </div>
        <br>
        <h6 *ngIf="selectedDeck">Selected Deck: <b>{{selectedDeck}} </b></h6>
      </div>
      <div class="card-footer">
        Step 1
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title align-self-center"> Upload Files </h4>
        <app-upload-files></app-upload-files>
        <form class="form-inline">
          <button type="submit" (click)="proceed()" class="btn btn-primary">Continue</button>
        </form>
      </div>
      <div class="card-footer">
        Step 2
      </div>
    </div>

    <div class="card">
      <div class="card-body" *ngIf="stage==3">
        <h4 class="card-title align-self-center"> Review </h4>
        <h6><i> The following cards will be created </i></h6>
        <ul
          class="list-group list-group-flush"
          *ngFor="let card of cardTitlesToReview"
        >
          <li class="list-group-item">
            {{card}}<span *ngIf="responses">: Created with Note ID {{responses[cardTitlesToReview.indexOf(card)]}}</span>
          </li>
        </ul>
        <form class="form-inline">
          <button type="submit" (click)="confirm()" class="btn btn-primary">Create Cards</button>
        </form>
      </div>
      <div class="card-footer">
        Step 3
      </div>
    </div>
  </div>
</div>
