<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
  <div class="navbar-brand">
    <a routerLink="/landing" routerLinkActive="active" class="nav-link text-light">
      <img
        width="40"
        alt="Logo"
        src="../assets/logo.png"/>
      Anki Helper App</a>
  </div>


  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/help" routerLinkActive="active" class="nav-link"> Help </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="active" class="nav-link"> About </a>
    </li>
  </ul>

</nav>

<div style="margin: 2%">
  <router-outlet></router-outlet>
</div>
