# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\BasheqTarifi\OneDrive - SYNTHESIS SOFTWARE TECHNOLOGIES (PTY) LTD\Documents\Projects\Anki\Anki-Helper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
