<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7 card">

      <div class="card-body">
        <h2> Welcome to the Anki Helper App </h2>
        <p>
          Check the Help page for instructions on getting started.
          <br><br>
          <b>Note:</b> Please make sure that Anki is
          active and that the Anki Connect add-on is installed and configured as per the Help page. Click on <i>Get Started</i> below
          once the status is <i>online</i>. You may need to reload this page or click on the <i>Check Anki
          Status</i> button for it to update.
        </p>

        <h5>Anki Status: {{active ? "Online" : "Offline"}}</h5>

        <button class="btn btn-outline-primary mr-2" (click)="checkConnection()"> Check Anki Status</button>

        <hr/>
        <button class="btn btn-outline-primary mr-2" [disabled]="!active">
          <a *ngIf="active" routerLink="/add-new-cards">Get started</a>
          <div *ngIf="!active">Get Started</div>
        </button>
      </div>
    </div>
  </div>
</div>
