<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 card">
      <div class="card-title">
        <h1> Welcome to the Anki Helper App </h1>
      </div>
      <div class="card-body">
        <p> This tool will automate the adding of Anki Flashcards using Microsoft Word
          documents (.docx format).
          <br>
          <b>Note:</b> Please make sure that Anki is active and that the
          Anki Connect add-on is installed.
        </p>

        <h5>Anki Status: {{active ? "Online" : "Offline"}}</h5>

        <button class="btn btn-outline-primary mr-2" (click)="checkConnection()"> Check Anki Status</button>

        <hr/>
        <button class="btn btn-outline-primary mr-2" [disabled]="!active">
          <a *ngIf="active" routerLink="/add-new-cards">Get started</a>
          <div *ngIf="!active">Get Started</div>
        </button>
      </div>
    </div>
  </div>
</div>
